.html .attribute {
	color: rgb(166, 226, 46);
}

.html .comment {
	color: rgb(117, 113, 94);
}

.html .number {
	color: rgb(174, 129, 255);
}

.html .value {
	color: rgb(230, 219, 116);
}

.html .equal {
	color: rgb(249, 38, 114);
}

.html .tag {
	color: rgb(249, 38, 114);
}