.dark .html .attribute {
	color: rgb(166, 226, 46);
}

.dark .html .comment {
	color: rgb(117, 113, 94);
}

.dark .html .number {
	color: rgb(174, 129, 255);
}

.dark .html .value {
	color: rgb(230, 219, 116);
}

.dark .html .equal {
	color: rgb(249, 38, 114);
}

.dark .html .tag {
	color: rgb(249, 38, 114);
}

.light .html .attribute {
	color: rgb(115, 141, 0);
}

.light .html .comment {
	color: rgb(162, 162, 162);
}

.light .html .number {
	color: rgb(174, 129, 255);
}

.light .html .value {
	color: rgb(241, 137, 0);
}

.light .html .tag {
	color: rgb(68, 111, 189);
}