.javascript .eol{
	display: block;
}

.javascript .keys{
	color: #1779E4;
}


.javascript .comment{
	color: #157921;
}


.javascript .number{
	color: #026F8A;
}

.javascript .string{
	color: #E46D10;
}